.book {
    width: 240px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 5px;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.book:hover {
    box-shadow: 0 2px 10px gray;
}

.book-info {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.book-title {
    width: 100%;
    margin-bottom: 0;
    font-size: 18px;
    max-height: 44px;
    overflow: hidden;
}

.book-author {
    width: 100%;
    margin-top: 0;
    color: gray;
    max-height: 22px;
    overflow: hidden;
}
.hide-book-buttons {
    display: none;
    position: absolute;
    bottom: 10px;
}

.book:hover .hide-book-buttons{
    display: block;
}

.book-button {
    width: 80px;
    height: 25px;
    margin: 0 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.book-edit-button {
    background-color: #282c34;
}

.book-delete-button {
    background-color: red;
}